body{
	margin: 0px;
	border: 0px;
	padding: 0px;
	background: #d6d6d6;
}
.info{

	margin-left: 30px;
	color: purple;
}

.container{
	margin: 0px;
	border: 0px;
	padding: 0px;
}
#dot{
	margin: 0px;
	font-size: 100px;
}
